{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_navigation_review %}
    {% set product = page.product %}
    {% set extension = product.extensions %}
    {% set customFields = product.translated.customFields %}
    {% set numberTabsValue = extension['numberTabsValue'].value %}

    {% if not(config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab')) %}
        {{ parent() }}
    {% endif %}

    {% for numberTabs in 1..numberTabsValue %}
        {% set customTabHeadlineValue = 'sschreier_tabs_tab' ~ numberTabs ~ '_headline' %}
        {% set customTabConentValue = 'sschreier_tabs_tab' ~ numberTabs ~ '_content' %}
        {% set customTabId = 'custom-tab' ~ numberTabs ~ '-' ~ product.id  %}
        {% set customTabHref = '#custom-tab' ~ numberTabs ~ '-' ~ product.id ~ '-pane' %}
        {% set customTabContent = 'custom-tab' ~ numberTabs ~ '-' ~ product.id ~ '-pane' %}
        {% set customTabLinkClass = 'product-detail-custom-tab' ~ numberTabs ~ '-' ~ product.id  %}

        {% block page_product_detail_tabs_navigation_review_inner %}
            {% if config('SschreierTabProductDetailPage.config.FillTabViaSnippet') or (config('SschreierTabProductDetailPage.config.FillTabViaSnippet') == false and customFields[customTabConentValue]) %}
                {% sw_include '@SschreierTabProductDetailPage/storefront/page/product-detail/tab-headline.html.twig' %}
            {% endif %}
        {% endblock %}
    {% endfor %}

    {% if config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_tabs_content_review %}
    {% set product = page.product %}
    {% set extension = product.extensions %}
    {% set customFields = product.translated.customFields %}
    {% set numberTabsValue = extension['numberTabsValue'].value %}

    {% if not(config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab')) %}
        {{ parent() }}
    {% endif %}

    {% for numberTabs in 1..numberTabsValue %}
        {% set customTabConentValue = 'sschreier_tabs_tab' ~ numberTabs ~ '_content' %}
        {% set customTabId = 'custom-tab' ~ numberTabs ~ '-' ~ product.id  %}
        {% set customTabContent = 'custom-tab' ~ numberTabs ~ '-' ~ product.id ~ '-pane' %}

        {% block page_product_detail_tabs_content_review_inner %}
            {% if config('SschreierTabProductDetailPage.config.FillTabViaSnippet') or (config('SschreierTabProductDetailPage.config.FillTabViaSnippet') == false and customFields[customTabConentValue]) %}
                <div class="tab-pane fade show"
                     id="{{ customTabContent }}"
                     role="tabpanel"
                     aria-labelledby="{{ customTabId }}">
                    {% sw_include '@SschreierTabProductDetailPage/storefront/page/product-detail/tab-content.html.twig' %}
                </div>
            {% endif %}
        {% endblock %}
    {% endfor %}

    {% if config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab') %}
        {{ parent() }}
    {% endif %}
{% endblock %}
