{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_description_reviews_tabs_navigation_review %}
    {% set product = element.data.product %}
    {% set extension = product.extensions %}
    {% set customFields = product.translated.customFields %}
    {% set numberTabsValue = extension['numberTabsValue'].value %}

    {% if not(config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab')) %}
        {{ parent() }}
    {% endif %}

    {% for numberTabs in 1..numberTabsValue %}
        {% set customTabHeadlineValue = 'sschreier_tabs_tab' ~ numberTabs ~ '_headline' %}
        {% set customTabConentValue = 'sschreier_tabs_tab' ~ numberTabs ~ '_content' %}
        {% set customTabId = 'custom-tab' ~ numberTabs ~ '-' ~ product.id  %}
        {% set customTabHref = '#custom-tab' ~ numberTabs ~ '-' ~ product.id ~ '-pane' %}
        {% set customTabContent = 'custom-tab' ~ numberTabs ~ '-' ~ product.id ~ '-pane' %}
        {% set customTabLinkClass = 'product-detail-custom-tab' ~ numberTabs ~ '-' ~ product.id  %}

        {% block element_product_description_reviews_tabs_navigation_review_inner %}
            {% set showTab = false %}

            {% if (numberTabs == 1) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTabViaSnippet') %}
            {% elseif (numberTabs == 2) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab2ViaSnippet') %}
            {% elseif (numberTabs == 3) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab3ViaSnippet') %}
            {% elseif (numberTabs == 4) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab4ViaSnippet') %}
            {% elseif (numberTabs == 5) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab5ViaSnippet') %}
            {% else %}
                {% block element_product_description_reviews_tabs_navigation_review_inner_default %}
                    {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTabViaSnippet') %}
                {% endblock %}
            {% endif %}

            {% if fillTabViaSnippet or (fillTabViaSnippet == false and customFields[customTabConentValue]) %}
                {% set showTab = true %}
            {% endif %}

            {% if showTab %}
                {% sw_include '@SschreierTabProductDetailPage/storefront/page/product-detail/tab-headline.html.twig' with {
                    fillTabViaSnippet: fillTabViaSnippet,
                    numberTabs: numberTabs
                } %}
            {% endif %}
        {% endblock %}
    {% endfor %}

    {% if config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_review %}
    {% set product = element.data.product %}
    {% set extension = product.extensions %}
    {% set customFields = product.translated.customFields %}
    {% set numberTabsValue = extension['numberTabsValue'].value %}

    {% if not(config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab')) %}
        {{ parent() }}
    {% endif %}

    {% for numberTabs in 1..numberTabsValue %}
        {% set customTabConentValue = 'sschreier_tabs_tab' ~ numberTabs ~ '_content' %}
        {% set customTabId = 'custom-tab' ~ numberTabs ~ '-' ~ product.id  %}
        {% set customTabContent = 'custom-tab' ~ numberTabs ~ '-' ~ product.id ~ '-pane' %}

        {% block element_product_description_reviews_tabs_content_review_inner %}
            {% set showTab = false %}

            {% if (numberTabs == 1) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTabViaSnippet') %}
            {% elseif (numberTabs == 2) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab2ViaSnippet') %}
            {% elseif (numberTabs == 3) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab3ViaSnippet') %}
            {% elseif (numberTabs == 4) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab4ViaSnippet') %}
            {% elseif (numberTabs == 5) %}
                {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTab5ViaSnippet') %}
            {% else %}
                {% block element_product_description_reviews_tabs_content_review_inner_default %}
                    {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTabViaSnippet') %}
                {% endblock %}
            {% endif %}

            {% if fillTabViaSnippet or (fillTabViaSnippet == false and customFields[customTabConentValue]) %}
                {% set showTab = true %}
            {% endif %}

            {% if showTab %}
                <div class="tab-pane fade show"
                     id="{{ customTabContent }}"
                     role="tabpanel"
                     aria-labelledby="{{ customTabId }}">
                    {% sw_include '@SschreierTabProductDetailPage/storefront/page/product-detail/tab-content.html.twig' with {
                        fillTabViaSnippet: fillTabViaSnippet,
                        numberTabs: numberTabs
                    } %}
                </div>
            {% endif %}
        {% endblock %}
    {% endfor %}

    {% if config('SschreierTabProductDetailPage.config.ShowTabBeforeRatingTab') %}
        {{ parent() }}
    {% endif %}
{% endblock %}
