<li class="nav-item">
    <a class="nav-link product-detail-tab-navigation-link {{ customTabLinkClass }}"
        id="{{ customTabId }}"
        data-bs-toggle="tab"
        data-off-canvas-tabs="true"
        href="{{ customTabHref }}"
        role="tab"
        aria-controls="{{ customTabContent }}"
        aria-selected="true">
        <span class="product-detail-tab-navigation-text">
            {% block page_product_detail_tabs_navigation_review_custom_tab_headline %}
                {% if fillTabViaSnippet %}
                    {% if (numberTabs == 1) %}
                        {% set tab1Headline = "sschreier.tabproductdetailpage.tabHeadlineFillViaSnippet"|trans %}

                        {% if useTwigInTabHeadline %}
                            {% include(template_from_string(tab1Headline)) %} 
                        {% else %}
                            {{ tab1Headline }}
                        {% endif %}
                    {% elseif (numberTabs == 2) %}
                        {% set tab2Headline = "sschreier.tabproductdetailpage.tab2HeadlineFillViaSnippet"|trans %}

                        {% if useTwigInTabHeadline %}
                            {% include(template_from_string(tab2Headline)) %} 
                        {% else %}
                            {{ tab2Headline }}
                        {% endif %}
                    {% elseif (numberTabs == 3) %}
                        {% set tab3Headline = "sschreier.tabproductdetailpage.tab3HeadlineFillViaSnippet"|trans %}

                        {% if useTwigInTabHeadline %}
                            {% include(template_from_string(tab3Headline)) %} 
                        {% else %}
                            {{ tab3Headline }}
                        {% endif %}
                    {% elseif (numberTabs == 4) %}
                        {% set tab4Headline = "sschreier.tabproductdetailpage.tab4HeadlineFillViaSnippet"|trans %}

                        {% if useTwigInTabHeadline %}
                            {% include(template_from_string(tab4Headline)) %} 
                        {% else %}
                            {{ tab4Headline }}
                        {% endif %}
                    {% elseif (numberTabs == 5) %}
                        {% set tab5Headline = "sschreier.tabproductdetailpage.tab5HeadlineFillViaSnippet"|trans %}

                        {% if useTwigInTabHeadline %}
                            {% include(template_from_string(tab5Headline)) %} 
                        {% else %}
                            {{ tab5Headline }}
                        {% endif %}
                    {% else %}
                        {% block page_product_detail_tabs_navigation_review_custom_tab_headline_default %}
                            {% set tab1Headline = "sschreier.tabproductdetailpage.tabHeadlineFillViaSnippet"|trans %}

                            {% if useTwigInTabHeadline %}
                                {% include(template_from_string(tab1Headline)) %} 
                            {% else %}
                                {{ tab1Headline }}
                            {% endif %}
                        {% endblock %}
                    {% endif %}
                {% elseif fillTabViaSnippet == false %}
                    {% if customFields[customTabHeadlineValue] %}
                        {% set tabHeadline = customFields[customTabHeadlineValue] %}

                        {% if useTwigInTabHeadline %}
                            {% set tabHeadline = include(template_from_string(tabHeadline)) %}
                        {% endif %}

                        {{ "sschreier.tabproductdetailpage.tabHeadline"|trans({"%tabheadline%": tabHeadline}) }}
                    {% else %}
                        {% if (numberTabs == 1) %}
                            {% set tab1Headline = "sschreier.tabproductdetailpage.tabHeadlineFillViaSnippet"|trans %}

                            {% if useTwigInTabHeadline %}
                                {% include(template_from_string(tab1Headline)) %} 
                            {% else %}
                                {{ tab1Headline }}
                            {% endif %}
                        {% elseif (numberTabs == 2) %}
                            {% set tab2Headline = "sschreier.tabproductdetailpage.tab2HeadlineFillViaSnippet"|trans %}

                            {% if useTwigInTabHeadline %}
                                {% include(template_from_string(tab2Headline)) %} 
                            {% else %}
                                {{ tab2Headline }}
                            {% endif %}
                        {% elseif (numberTabs == 3) %}
                            {% set tab3Headline = "sschreier.tabproductdetailpage.tab3HeadlineFillViaSnippet"|trans %}

                            {% if useTwigInTabHeadline %}
                                {% include(template_from_string(tab3Headline)) %} 
                            {% else %}
                                {{ tab3Headline }}
                            {% endif %}
                        {% elseif (numberTabs == 4) %}
                            {% set tab4Headline = "sschreier.tabproductdetailpage.tab4HeadlineFillViaSnippet"|trans %}

                            {% if useTwigInTabHeadline %}
                                {% include(template_from_string(tab4Headline)) %} 
                            {% else %}
                                {{ tab4Headline }}
                            {% endif %}
                        {% elseif (numberTabs == 5) %}
                            {% set tab5Headline = "sschreier.tabproductdetailpage.tab5HeadlineFillViaSnippet"|trans %}

                            {% if useTwigInTabHeadline %}
                                {% include(template_from_string(tab5Headline)) %} 
                            {% else %}
                                {{ tab5Headline }}
                            {% endif %}
                        {% else %}
                            {% block page_product_detail_tabs_navigation_review_custom_tab_headline_customFields_default %}
                                {% set tab1Headline = "sschreier.tabproductdetailpage.tabHeadlineFillViaSnippet"|trans %}

                                {% if useTwigInTabHeadline %}
                                    {% include(template_from_string(tab1Headline)) %} 
                                {% else %}
                                    {{ tab1Headline }}
                                {% endif %}
                            {% endblock %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </span>
        <span class="product-detail-tab-navigation-icon">
            {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
        </span>
        <span class="product-detail-tab-preview">
            {% block page_product_detail_tabs_navigation_review_custom_tab_content_preview %}
                {% if fillTabViaSnippet %}
                    {% if (numberTabs == 1) %}
                        {% set tabContentPreview = "sschreier.tabproductdetailpage.tabContentFillViaSnippet"|trans|raw %}
                    {% elseif (numberTabs == 2) %}
                        {% set tabContentPreview = "sschreier.tabproductdetailpage.tab2ContentFillViaSnippet"|trans|raw %}
                    {% elseif (numberTabs == 3) %}
                        {% set tabContentPreview = "sschreier.tabproductdetailpage.tab3ContentFillViaSnippet"|trans|raw %}
                    {% elseif (numberTabs == 4) %}
                        {% set tabContentPreview = "sschreier.tabproductdetailpage.tab4ContentFillViaSnippet"|trans|raw %}
                    {% elseif (numberTabs == 5) %}
                        {% set tabContentPreview = "sschreier.tabproductdetailpage.tab5ContentFillViaSnippet"|trans|raw %}
                    {% else %}
                        {% block page_product_detail_tabs_navigation_review_custom_tab_content_preview_default %}
                            {% set tabContentPreview = "sschreier.tabproductdetailpage.tabContentFillViaSnippet"|trans|raw %}
                        {% endblock %}
                    {% endif %}

                    {% if useTwigInTabContent %}
                        {% set tabContentPreview = include(template_from_string(tabContentPreview)) %} 
                    {% endif %}

                    {{ tabContentPreview|striptags|u.truncate(config('SschreierTabProductDetailPage.config.TruncateTabPreviewText'), '...') }}

                    {% if tabContentPreview|length >= ((config('SschreierTabProductDetailPage.config.TruncateTabPreviewText')) + 1) %}
                        <span class="product-detail-tab-preview-more">{{ "sschreier.tabproductdetailpage.tabContentPreviewMore"|trans|sw_sanitize }}</span>
                    {% endif %}
                {% elseif fillTabViaSnippet == false and customFields[customTabContentValue] %}
                    {% set tabContent = customFields[customTabContentValue] %}

                    {% if useTwigInTabContent %}
                        {% set tabContent = include(template_from_string(tabContent)) %}
                    {% endif %}

                    {{ "sschreier.tabproductdetailpage.tabContentPreviewText"|trans({"%tabcontentpreviewtext%": tabContent})|raw|striptags|sw_sanitize|u.truncate(config('SschreierTabProductDetailPage.config.TruncateTabPreviewText'), '...') }}

                    {% if customFields[customTabContentValue]|length >= ((config('SschreierTabProductDetailPage.config.TruncateTabPreviewText')) + 1) %}
                        <span class="product-detail-tab-preview-more">{{ "sschreier.tabproductdetailpage.tabContentPreviewMore"|trans|sw_sanitize }}</span>
                    {% endif %}
                {% endif %}
            {% endblock %}
        </span>
    </a>
</li>
